body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: #f0f0f0;
}

h1 {
    color: #f0f0f0;
    padding-top: 1rem;
    font-size: 3rem;
    line-height: 5rem;
    margin: 0; /* Remove default margin */
}

.photo-button {
    width: 100px;
    height: 100px;
    position: relative;
}

.circle {
    position: absolute;
    top: 12%;
    left: 12%;
    bottom: 12%;
    right: 12%;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.25s;
}

.ring {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 0.5em solid #ffffff;
    opacity: 0.8;
    transition: opacity 0.25s;
}

.photo-button:hover .circle {
    opacity: 1;
}

.photo-button:active .ring {
    opacity: 1;
}

.photo-button:active .circle {
    opacity: 0.5;
}

.camera {
    height: 40vh; /* 40% of the viewport height */
    max-width: 400px; /* Ensures the image does not overflow the container */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    z-index: 1; /* Ensure the camera is above other elements */
}


.picture-frame {
    height: auto;
    max-width: 200px; /* Ensures the image does not overflow the container */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    border-top: 20px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 60px solid white;
    margin-bottom: 20px;
    transition: none; /* Remove transition*/
    transform: translateY(-322px); /* Start hidden below */
    opacity: 0; /* Turn invisible */
    z-index: 0; /* Ensure the frame is below other elements */
}

.picture-frame.visible {
    transform: translateY(0px); /* Slide down into view */
    opacity: 1; /* Fade in */
    transition: transform 2.5s ease, opacity 4.5s ease-in-out; /* Smooth transition for transform */
}